.containerToDo {
  display: inline-flex;
  background-color: #bdbdbd;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 80px;
}

.list {
  padding: 0;
  margin: 0, auto;
  list-style: none;
}

.item {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
