.containerToDo {
  display: inline-flex;
  flex-direction: column;
  background-color: #bdbdbd;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 80px;
  width: 328px;
  height: 80%;
}

.list {
  padding: 0;
  margin: 0, auto;
  list-style: none;
}

.item {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  text-align: center;
  margin: 0;
}

.btnLoad {
  margin: 10px;
  border-radius: 5px;
  border-style: hidden;
  background-color: greenyellow;
}

.btnLoad:hover {
  background-color: cadetblue;
}
